@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(48.76deg, rgb(254, 175, 0) 19.353%,rgb(248, 212, 66) 90.115%);
}

.site-form{
    width: 475px;
    height: 550px;
    margin: 90px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 5px 15px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.form-logo-wrapper{
    width: 300px;
    height: 39px;
    margin-left: 36px;
    margin-top: 14px;
    margin-bottom: 43px;
    display: flex;
    gap: 12.5px;
}

.logo-name{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.form-title-wrapper{
    width: 318px;
    margin-left: 49px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.form-title{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}

.form-text{
    color: rgb(108, 108, 108);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.form-content{
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.content-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

input{
    width: 100%;
    height: 44px;
    padding: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: rgb(205, 205, 205);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    outline: none;
}

input:focus{
    border: 2px solid rgb(254, 175, 0);
    box-shadow: 0px 0px 10px 2px rgb(254, 175, 0);
}

label{
    color: rgb(108, 108, 108);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.form-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.sign-in-btn{
    width: 100%;
    padding: 14px ;
    background-color: rgb(254, 175, 0);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    cursor: pointer;
}

.sign-in-btn:hover{
    color:rgb(254, 175, 0) ;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid rgb(254, 175, 0);
}

.form-link{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.form-link:hover{
    color: rgb(254, 175, 0);
    font-size: 15px;
}